{% extends 'base_authentication.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-4">
                    <h2 style="text-align: left;">Login:</h2>
                </div>
                
                <form action="{% url 'login' %}" method="post">

                    {% csrf_token %}

                    {% include 'dashboard/mensagens.html' %}
                    <div class="form-group  mt-2">
                        <input type="text" name="username" id="usernameField" placeholder="Nome de usuário" class="form-control form-control-sm" value="{{fieldVal.username}}" required
                        />
                    </div>
                    
                    <div class="form-group  mt-2">
                        <input type="password" name="password" id="passwordField" class="form-control form-control-sm" placeholder="Senha" required
                        />
                    </div>

                    <input type="submit" value="Login" class="submit-btn btn btn btn-secondary btn-lg btn-block w-100 mt-4"/>
                    <p class="mt-2 mb-3 text-muted" style="text-align: center;">&copy;FMS 2022</p>
                </form>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

<script src="{% static 'js/cadastro.js' %}">

</script>
{% endblock %}
    