{% extends 'base.html' %}
{% block content %}

<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'listagem_renda' %}">Minha renda</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Minhas estatísticas</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="d-flex text-muted pt-3">
    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="blue"/><text x="50%" y="50%" fill="blue" dy=".3em">32x32</text></svg>

    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
          <div class="d-flex justify-content-between">
              <h6>
                  <strong class="text-gray-dark">Renda total:</strong>
              </h6>
              <h6>R$ {{total_ganho}}</h6>
          </div>
    </div>
  </div>
</div>

<div class="pb-3 mb-0 small lh-sm border-bottom w-100">
  <div class="d-flex justify-content-between">
      <h6>
          <strong>Renda por Mês:</strong>
      </h6>
  </div>
</div>
    
<div class="my-3 p-3 bg-body rounded shadow-sm mt-3">
  <div id="container" style="width: 75%;">
    <canvas id="graph2" data-url="{% url 'graph2' %}"></canvas>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    $(function () {
      var $rendaChart = $("#graph2");
      $.ajax({
        url: $rendaChart.data("url"),
        success: function (data) {

          var ctx = $rendaChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'doughnut',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Ganhos',
                backgroundColor:[
                    'blue',
                    'black',
                    'gray',
                    'yellow',
                    'red',
                    'purple',
                    'green',
                    'orange',
                    'brown',
                    'pink',
                    'coral',
                    'crimson'
                ],

                data: data.data
              }]         
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Renda por mês'
              }
            }
          });

        }
      });

    });

    </script>

<div class="pb-3 mb-0 small lh-sm border-bottom w-100">
  <div class="d-flex justify-content-between">
      <h6>
          <strong>Renda por Ano:</strong>
      </h6>
  </div>
</div>
    
<div class="my-3 p-3 bg-body rounded shadow-sm mt-3">
  <div id="container" style="width: 75%;">
    <canvas id="graph3" data-url="{% url 'graph3' %}"></canvas>
  </div>
</div>

<script>
  $(function () {
    var $rendaChart2 = $("#graph3");
    $.ajax({
      url: $rendaChart2.data("url"),
      success: function (data) {

        var ctx = $rendaChart2[0].getContext("2d");

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Ganhos anuais',
              backgroundColor: 'blue',
              data: data.data
            }]         
          },
          options: {
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Renda por ano'
            }
          }
        });

      }
    });

  });

  </script>
{% endblock content %}
